body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer {
  height: 70px;
  color: white;   
  background-color:#004daa;
}

main {
  background-color: #333;
}

h1 {
  color: white;
  font-size: 3rem;
}

#menu-navegacao{
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
  gap: 10px;
}

.current_page_item a{
  color: white;
}

* {
  /* border: 1px solid black; */
  /* padding:0.5%;
  margin: 1%; */
}

.container-list-wolves {
  padding: 0.5rem 5rem 0.5rem 5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
}

.search-container {
  padding: 2rem 2rem 2rem 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem 0.5rem;
}
input.search-wolf{
  padding: 0.5rem 0rem 0.5rem 0rem;
   width: 70%;
}

button.search-wolf {
  background: #DEB959;
  color: white;
  cursor: pointer;
  width:10%;
}

.example-wolves {
  padding: 2rem 2rem 2rem 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display:flex;
  gap: 3rem;
  /* justify-content: space-between; */
 
}

.wolf-image{
  /* margin: 1rem 2rem 1rem 12rem;  */
  width: 100%;
  box-shadow: -1rem -1rem #2C5680;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 20vw;
}

.example-wolves:nth-child(2n) {
  flex-direction:row-reverse;
}

.example-wolves:nth-child(2n) .wolf-image{
  box-shadow: 1rem -1rem #2C5680;
  /* margin-right: 12rem; */
  /* margin-left: 2rem; */
}

.example-wolves:nth-child(2n) .wolf-description{
  /* margin-right: 1rem;
  margin-left: 6rem; */
}

.wolf-description{
  /* margin: 4rem 6rem 4rem 1rem;  */
  /* width: 40%; */
  width: 100%;
}

.wolf-description h3{
  font-size: 2.25rem;
  font-weight: 700;
}

.wolf-description h3 + p{
  font-size:small;
}

.wolf-description button {
  background: #DEB959;
  max-width: 300px;
  color: white;
  cursor: pointer;
}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}

.pagina {
  border: none;
  background-color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  transition: background-color color 0.5s;
  transition: color 0.5s;
  border-radius: 50%;
}

.pagina:hover{
  background-color: gray;
  color: lightgray;
}

.pagina.selected {
  background-color: #DEB959;
  color: gray;
}